[Unit]
Description=EinkRPI service
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
ExecStart=${HOME}/.local/share/einkrpi/epdx.py
WorkingDirectory=${HOME}/.local/share/einkrpi
USER=${USER}
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target

